9.8.22                 MULTIPLE REGRESSION

 STEP1: Importing the Libraies

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

STEP2: Loding the Dataset

In [2]:
dataset = pd.read_csv('http://raw.githubusercontent.com/RamishaRaniK/dataset/main/insurance_pre.csv')

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

STEP:3 get_dummies() TO CONVERT STRING DATA INTO BYTESTREAM(0'S &1'S)

In [4]:
datasets=pd.get_dummies(dataset,drop_first=True)

In [5]:
datasets

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

STEP:4 ASSINGING INPUT AND OUTPUT DATA

In [6]:
datasets.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
indep=datasets[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]

dep=datasets[['charges']]

In [8]:
indep

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [9]:
dep

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

STEP: 5 SPLITING TRAIN/TEST DATA

In [10]:
#spliting train /test set
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(indep,dep,test_size=1/3,random_state=0)

 STEP:6  MODEL CREATION IN  DECISION TREE

In [11]:
from sklearn.linear_model import LinearRegression
r=LinearRegression()
r.fit(x_train,y_train)

LinearRegression()

 STEP:8 PREDICTION

In [12]:
y_pred=r.predict(x_test)

In [13]:
y_pred

array([[ 1.15073709e+04],
       [ 1.00167922e+04],
       [ 3.75319613e+04],
       [ 1.58814649e+04],
       [ 6.94329852e+03],
       [ 3.49723126e+03],
       [ 9.63932078e+02],
       [ 1.43601057e+04],
       [ 9.03174486e+03],
       [ 7.40849640e+03],
       [ 4.45750987e+03],
       [ 1.03499847e+04],
       [ 9.14329188e+03],
       [ 4.23404178e+03],
       [ 2.71743452e+04],
       [ 1.15072425e+04],
       [ 1.11892673e+04],
       [ 5.46553468e+03],
       [ 8.11479002e+03],
       [ 2.60421143e+04],
       [ 3.33412991e+04],
       [ 1.43065441e+04],
       [ 1.12461940e+04],
       [ 3.22377602e+04],
       [ 4.28273021e+03],
       [ 8.55365086e+03],
       [ 7.20454803e+02],
       [ 1.04315056e+04],
       [ 4.16452808e+03],
       [ 1.03250884e+04],
       [ 9.07288836e+03],
       [ 4.00290583e+04],
       [ 1.58326873e+04],
       [ 1.39801687e+04],
       [ 2.39501965e+04],
       [ 4.59472725e+03],
       [ 1.30045781e+04],
       [ 3.04704829e+04],
       [ 3.30669937e+04],
       [ 3.68605927e+03],
       [ 3.61014393e+03],
       [ 4.26596802e+03],
       [ 2.96372339e+04],
       [ 3.89954242e+04],
       [ 2.75369574e+04],
       [ 4.84220740e+03],
       [ 1.14032185e+04],
       [ 7.68130087e+03],
       [ 3.25383158e+03],
       [ 1.09191557e+04],
       [ 4.95981242e+03],
       [ 3.37032927e+03],
       [ 3.30254440e+04],
       [ 3.78218660e+04],
       [ 1.62855494e+04],
       [ 6.36843274e+03],
       [ 5.84341975e+03],
       [ 9.24666320e+03],
       [ 9.87372969e+03],
       [ 1.17349898e+04],
       [ 1.90411547e+03],
       [ 3.86651515e+04],
       [ 1.55972574e+04],
       [ 1.21947800e+04],
       [ 1.38140615e+04],
       [ 1.42505848e+04],
       [ 2.56448494e+04],
       [ 3.17087537e+04],
       [ 1.44093592e+03],
       [ 1.02356070e+04],
       [ 1.27442495e+04],
       [ 1.20956752e+04],
       [ 2.49750797e+04],
       [ 1.59912253e+04],
       [ 1.11711975e+04],
       [ 1.22792113e+04],
       [ 6.91052159e+03],
       [ 1.01264148e+04],
       [ 2.94649240e+04],
       [ 3.90236567e+04],
       [ 1.16279442e+04],
       [ 3.69878635e+04],
       [ 3.75945768e+03],
       [ 9.68637467e+03],
       [ 3.39186944e+04],
       [ 2.90780682e+04],
       [ 8.66117784e+03],
       [ 4.47061740e+03],
       [ 1.24772611e+04],
       [ 3.00982981e+04],
       [ 9.65697234e+03],
       [ 1.16475080e+04],
       [ 7.51644680e+03],
       [ 9.55678444e+03],
       [ 7.68971605e+03],
       [ 6.79869451e+03],
       [ 3.51470952e+04],
       [ 3.32240909e+04],
       [ 7.47357684e+03],
       [ 1.51859843e+04],
       [ 4.16145098e+03],
       [ 8.48620627e+03],
       [ 6.76407540e+03],
       [ 3.13849068e+04],
       [ 3.26537546e+04],
       [ 1.77795057e+03],
       [ 9.44889982e+03],
       [ 6.23057766e+03],
       [ 1.39930242e+04],
       [ 3.71145064e+04],
       [ 1.04389604e+04],
       [ 1.07494088e+04],
       [ 1.01224745e+04],
       [ 2.58512392e+04],
       [ 3.98208458e+04],
       [ 8.16713071e+03],
       [ 5.97976651e+02],
       [ 9.30655584e+03],
       [ 1.55034155e+04],
       [ 9.63363715e+03],
       [ 3.53285160e+04],
       [ 7.29327979e+03],
       [ 1.71497573e+04],
       [ 9.15475752e+03],
       [ 8.64689559e+03],
       [ 3.00037799e+03],
       [ 3.22460250e+04],
       [ 3.11815189e+04],
       [ 3.93525998e+04],
       [ 4.99663136e+03],
       [ 9.92078648e+03],
       [ 3.78788345e+03],
       [ 8.09160762e+03],
       [ 8.24906007e+03],
       [ 3.15493165e+04],
       [ 2.97203575e+04],
       [ 2.98597136e+04],
       [ 9.50518323e+03],
       [ 3.27839757e+04],
       [ 3.06800647e+03],
       [ 3.25104957e+03],
       [ 1.09366769e+04],
       [ 1.35769569e+04],
       [ 1.22936359e+04],
       [ 5.27075286e+03],
       [ 1.59739702e+04],
       [ 1.53923545e+04],
       [ 2.36786004e+03],
       [-2.85118124e+02],
       [ 1.05334917e+04],
       [ 7.01196398e+03],
       [ 3.14708540e+04],
       [ 1.19091998e+04],
       [ 2.60894412e+03],
       [ 5.96228165e+03],
       [ 8.33449475e+03],
       [ 4.06560960e+03],
       [ 2.40089600e+03],
       [ 1.14946336e+04],
       [ 1.25409321e+04],
       [ 6.84706827e+03],
       [ 1.66302051e+04],
       [ 1.17401775e+04],
       [ 1.42418605e+04],
       [ 2.77919892e+03],
       [ 6.94177334e+03],
       [ 2.30214498e+04],
       [ 7.30058764e+03],
       [ 4.99941336e+03],
       [ 5.22103787e+03],
       [ 6.48102371e+03],
       [ 4.79465523e+03],
       [ 9.93646553e+03],
       [ 5.46183387e+03],
       [ 6.12678047e+03],
       [ 7.21137238e+03],
       [ 3.38717820e+03],
       [ 5.49339690e+03],
       [ 3.75553150e+04],
       [ 8.32270279e+02],
       [ 1.26071559e+04],
       [ 8.90945763e+03],
       [ 1.34633650e+04],
       [ 5.54876708e+03],
       [ 4.91808574e+03],
       [ 3.57103460e+04],
       [ 3.63967240e+03],
       [ 2.31687557e+03],
       [ 1.50267208e+04],
       [ 1.23358164e+04],
       [ 3.42057395e+04],
       [ 5.27289956e+03],
       [ 6.06139803e+03],
       [ 3.13512181e+04],
       [ 5.64789844e+03],
       [ 2.29067621e+03],
       [ 8.03432563e+03],
       [ 9.64759777e+03],
       [ 8.30476131e+03],
       [ 5.53844712e+03],
       [ 1.27613959e+04],
       [ 3.84955181e+04],
       [ 1.37169923e+04],
       [ 2.90324984e+04],
       [ 6.55211354e+03],
       [ 3.55574576e+04],
       [ 3.38535558e+03],
       [ 1.21910236e+04],
       [ 9.48661342e+03],
       [ 6.15483461e+03],
       [ 1.11287729e+04],
       [ 1.41171340e+04],
       [ 5.20252263e+03],
       [ 4.49800865e+03],
       [ 8.20449124e+03],
       [ 1.53413760e+03],
       [ 7.60119412e+03],
       [ 4.09415115e+03],
       [ 1.37444993e+04],
       [ 4.15318056e+03],
       [ 1.04467738e+04],
       [ 7.10580582e+03],
       [ 9.58305654e+03],
       [ 1.88653866e+03],
       [ 1.35084222e+04],
       [ 1.65121603e+04],
       [ 1.54697222e+04],
       [ 1.10181493e+04],
       [ 6.09458572e+03],
       [ 2.53190506e+03],
       [ 2.09789632e+03],
       [ 1.28544623e+04],
       [ 1.44305358e+04],
       [ 4.73397695e+03],
       [ 4.31157384e+03],
       [ 9.82197675e+03],
       [ 9.64333341e+03],
       [ 2.72024689e+04],
       [ 7.17976538e+03],
       [ 1.03518073e+04],
       [ 6.57184168e+03],
       [ 2.92364904e+04],
       [ 1.14383456e+04],
       [ 7.07818770e+03],
       [ 1.02307409e+04],
       [ 1.20701286e+04],
       [ 2.58435689e+03],
       [ 1.06185422e+04],
       [ 1.01627277e+03],
       [ 6.67250056e+03],
       [ 2.85344368e+04],
       [ 3.88690128e+04],
       [ 6.62206008e+03],
       [ 8.31592493e+03],
       [ 1.86232167e+03],
       [-1.55958277e+02],
       [ 1.07896601e+04],
       [ 4.28482134e+03],
       [ 5.01583430e+03],
       [ 2.87216354e+03],
       [ 7.67285910e+03],
       [ 3.34914080e+04],
       [ 3.73873399e+04],
       [ 1.48192768e+04],
       [ 8.07997759e+03],
       [ 1.54398221e+04],
       [ 3.29893263e+04],
       [ 9.33417396e+03],
       [ 3.37239149e+04],
       [ 3.45020908e+03],
       [ 2.98723735e+04],
       [ 8.42636921e+03],
       [ 1.38319115e+04],
       [ 4.02610482e+03],
       [ 3.21733521e+04],
       [ 7.85801289e+03],
       [ 1.15842988e+04],
       [ 1.00125928e+04],
       [ 3.87473449e+03],
       [ 1.31874419e+04],
       [ 1.16391414e+04],
       [ 8.04907189e+03],
       [ 1.28662612e+04],
       [ 2.16178487e+03],
       [ 1.00246658e+04],
       [ 5.84274984e+03],
       [ 1.16789045e+04],
       [ 3.09359389e+04],
       [ 9.89128553e+03],
       [ 6.22646040e+02],
       [ 4.46970998e+02],
       [ 3.91222199e+04],
       [ 9.35256545e+03],
       [ 6.89790804e+03],
       [ 1.39565629e+04],
       [ 1.30514845e+04],
       [ 2.71196959e+04],
       [ 7.57480390e+03],
       [ 7.17951889e+03],
       [ 1.23327103e+04],
       [ 2.49988962e+03],
       [ 4.02169808e+03],
       [ 2.45138049e+04],
       [ 2.60640227e+04],
       [ 1.35465778e+04],
       [ 2.68321278e+03],
       [ 5.19520318e+03],
       [ 9.92671370e+03],
       [ 1.19230829e+04],
       [ 2.27486985e+04],
       [ 3.05381614e+04],
       [ 1.04703335e+04],
       [ 2.35085537e+04],
       [ 2.54171246e+03],
       [ 1.14618692e+04],
       [ 7.54313669e+03],
       [ 7.87918639e+03],
       [ 5.54065136e+02],
       [ 7.30588174e+03],
       [ 3.49626288e+04],
       [ 5.70127611e+03],
       [ 5.76749983e+03],
       [ 2.62215947e+01],
       [ 1.09795007e+04],
       [ 6.73029053e+03],
       [ 1.02521540e+04],
       [ 3.90877917e+04],
       [ 2.73093305e+04],
       [ 1.10894520e+04],
       [ 3.54416126e+04],
       [ 1.47164180e+04],
       [ 6.67189881e+03],
       [ 1.11936404e+04],
       [ 7.22973728e+03],
       [ 3.62706308e+04],
       [ 6.18400689e+03],
       [ 1.08024671e+04],
       [ 1.15741783e+03],
       [ 2.41390025e+04],
       [ 1.75737881e+03],
       [ 3.47635920e+04],
       [ 1.13081708e+04],
       [ 1.61451983e+03],
       [ 3.12432155e+04],
       [ 7.16811122e+03],
       [ 5.61024287e+03],
       [ 3.81757390e+04],
       [ 2.43999698e+03],
       [ 9.36229766e+03],
       [ 2.54321339e+03],
       [ 1.35174845e+04],
       [ 1.53710595e+03],
       [ 1.11311591e+04],
       [ 7.30754242e+03],
       [ 3.57048781e+04],
       [ 7.66018758e+03],
       [ 3.01518667e+04],
       [ 2.92942028e+04],
       [ 7.25699536e+03],
       [ 1.06521697e+04],
       [ 1.63144635e+03],
       [ 2.60699079e+03],
       [ 3.66310374e+03],
       [ 1.25063036e+04],
       [ 3.70895640e+04],
       [ 1.02134012e+04],
       [ 7.14986952e+02],
       [ 1.10489102e+04],
       [ 4.70904468e+03],
       [ 1.01265722e+04],
       [ 5.13794778e+03],
       [ 7.10879930e+03],
       [ 4.41268512e+03],
       [ 2.77584291e+04],
       [ 4.19182212e+03],
       [-7.77682840e+02],
       [ 3.30229640e+04],
       [ 1.30664021e+04],
       [ 3.60458425e+04],
       [ 1.03474537e+04],
       [ 7.44563703e+03],
       [-2.02831115e+02],
       [ 2.32271366e+03],
       [ 1.20458921e+04],
       [ 6.10775586e+03],
       [ 2.73076495e+03],
       [ 1.17619702e+04],
       [ 8.33509889e+03],
       [ 7.31998467e+03],
       [ 5.09479776e+03],
       [ 2.83362371e+03],
       [ 3.19778042e+04],
       [ 3.22979849e+03],
       [ 9.06310058e+03],
       [ 4.70091757e+03],
       [ 1.24845886e+04],
       [ 1.49653272e+04],
       [ 7.43900388e+03],
       [ 2.69137528e+04],
       [ 1.42890886e+04],
       [ 1.74534894e+04],
       [ 1.19956737e+04],
       [ 1.56285848e+03],
       [ 8.47115098e+03],
       [ 1.89789941e+04],
       [ 7.75757849e+03],
       [ 6.24509839e+03],
       [ 2.32263149e+03],
       [ 2.64227213e+04],
       [ 1.44739879e+04],
       [ 1.05710942e+04],
       [ 1.62834582e+04],
       [ 1.21067301e+04],
       [ 1.14271890e+04],
       [ 3.95113022e+04],
       [ 6.24457881e+03],
       [ 1.17610108e+04],
       [ 3.15572075e+03],
       [ 1.51834988e+04],
       [ 4.57738288e+03],
       [ 5.10208823e+03],
       [ 5.33609478e+03],
       [ 1.53840075e+04],
       [ 8.94770798e+03],
       [ 8.52222219e+03],
       [ 3.41622874e+04],
       [ 6.78287771e+03],
       [ 2.65443292e+04],
       [ 2.69337275e+04],
       [ 1.54681923e+04],
       [ 8.69711159e+03],
       [ 3.40099601e+04],
       [ 1.02860070e+04],
       [ 3.73565854e+03],
       [ 1.55799060e+04],
       [ 2.97896387e+04],
       [ 2.95544539e+04],
       [ 2.81355957e+04],
       [ 9.61789556e+03],
       [ 3.24495021e+04],
       [ 4.50321038e+03],
       [ 2.54475681e+04],
       [ 5.36031177e+03],
       [ 2.82108122e+04],
       [ 7.23802872e+03],
       [ 1.47033982e+04]])

 STEP:9 EVALUTION METRICS

In [14]:
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)

In [15]:
r_score

0.7865108093853883

 STEP:10 SAVE THE MODEL IF THE MODEL HAS GOOD R_SCORE VALUE

In [ ]:
import pickle
filename='decision_final.sav'
pickle.dump(r,open(filename,"wb"))

In [ ]:
model=pickle.load(open(filename,"rb"))