   9.8.22                                  DECISION TREE (REGRESSION)

 STEP1: Importing the Libraies

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

STEP2: Loding the Dataset

In [2]:
dataset = pd.read_csv('http://raw.githubusercontent.com/RamishaRaniK/dataset/main/insurance_pre.csv')

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

STEP:3 get_dummies() TO CONVERT STRING DATA INTO BYTESTREAM(0'S &1'S)

In [4]:
datasets=pd.get_dummies(dataset,drop_first=True)

In [5]:
datasets

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
datasets.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

STEP:4 ASSINGING INPUT AND OUTPUT DATA

In [7]:
indep=datasets[['age','bmi','children','sex_male','smoker_yes']]
dep=datasets[['charges']]

In [8]:
indep

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [9]:
dep

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

STEP: 5 SPLITING TRAIN/TEST DATA

In [10]:
#spliting train /test set
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(indep,dep,test_size=1/3,random_state=0)

#standization of  input dataset#(converting input datasets into some specific standards)

In [17]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

 STEP:6  MODEL CREATION IN  DECISION TREE

In [18]:
from sklearn.tree import DecisionTreeRegressor
r=DecisionTreeRegressor()
r.fit(x_train,y_train)

DecisionTreeRegressor()

 STEP:7 PREDICTION

In [19]:
y_pred=r.predict(x_test)

In [20]:
y_pred

array([ 9748.9106  ,  8930.93455 , 44202.6536  , 13143.33665 ,
        9264.797   , 21984.47061 ,  1615.7667  ,  8671.19125 ,
        6313.759   ,  5253.524   ,  6184.2994  , 30284.64294 ,
        7345.7266  ,  4992.3764  , 18246.4955  , 11015.1747  ,
       12124.9924  ,  3292.52985 ,  6748.5912  , 34806.4677  ,
       24869.8368  , 11987.1682  ,  9625.92    , 24915.22085 ,
        1526.312   ,  4151.0287  ,  3558.62025 ,  7954.517   ,
        3757.8448  ,  8116.26885 ,  7954.517   , 48673.5588  ,
       13981.85035 , 10594.2257  , 15817.9857  ,  3554.203   ,
        8733.22925 , 37133.8982  , 40103.89    ,  1880.07    ,
       21984.47061 ,  2866.091   , 21082.16    , 44400.4064  ,
       36307.7983  ,  2801.2588  , 11015.1747  ,  6272.4772  ,
        4719.52405 , 11830.6072  ,  2473.3341  ,  2639.0429  ,
       24915.22085 , 60021.39897 , 12235.8392  , 19673.33573 ,
        3292.52985 ,  9617.66245 ,  7518.02535 , 12913.9924  ,
        1252.407   , 46130.5265  , 14007.222   , 25333.33284 ,
       19144.57652 ,  9875.6804  , 33900.653   , 39983.42595 ,
        2913.569   , 15828.82173 , 24513.09126 , 10965.446   ,
       16297.846   , 13981.85035 , 12629.8967  , 12233.828   ,
        6250.435   ,  8116.26885 , 19539.243   , 46599.1084  ,
       11286.5387  , 46113.511   ,  1526.312   ,  7147.4728  ,
       41661.602   , 20984.0936  ,  3201.24515 ,  2727.3951  ,
       12913.9924  , 39047.285   ,  6128.79745 , 10796.35025 ,
        3201.24515 ,  8516.829   , 12404.8791  ,  4076.497   ,
       41999.52    , 62592.87309 ,  4934.705   , 11090.7178  ,
        1826.843   ,  5245.2269  ,  3956.07145 , 39047.285   ,
       37829.7242  ,  3558.62025 , 11070.535   , 19673.33573 ,
       11743.9341  , 45008.9555  , 12094.478   , 18963.17192 ,
        8930.93455 , 34672.1472  , 47269.854   ,  6593.5083  ,
        2221.56445 ,  9617.66245 , 27941.28758 ,  9225.2564  ,
       40273.6455  , 10197.7722  , 14901.5167  ,  6128.79745 ,
        7726.854   ,  4719.73655 , 38245.59327 , 35069.37452 ,
       48673.5588  ,  1534.3045  ,  8520.026   ,  1980.07    ,
        5974.3847  ,  8688.85885 , 62592.87309 , 37079.372   ,
       21259.37795 , 10156.7832  , 21195.818   , 12609.88702 ,
        1877.9294  , 10965.446   ,  8978.1851  , 10601.63225 ,
       11737.84884 , 14901.5167  , 31620.00106 , 22395.74424 ,
        1628.4709  , 10791.96    ,  5974.3847  , 38792.6856  ,
        9288.0267  , 21344.8467  ,  3393.35635 ,  7050.642   ,
        2719.27975 , 11272.33139 , 11015.1747  ,  9563.029   ,
       19442.3535  , 13405.3903  , 12815.44495 ,  9048.0273  ,
        3260.199   , 24671.66334 , 20167.33603 ,  5253.524   ,
        4237.12655 ,  1634.5734  , 19442.3535  ,  4438.2634  ,
        8520.026   ,  2416.955   , 18804.7524  , 24671.66334 ,
        3847.674   ,  6123.5688  , 27218.43725 ,  1705.6245  ,
       25992.82104 ,  6313.759   , 11743.9341  , 19673.33573 ,
       11737.84884 , 29330.98315 ,  1526.312   ,  2585.269   ,
       14901.5167  ,  9563.029   , 41919.097   ,  3877.30425 ,
        4747.0529  , 23887.6627  ,  3292.52985 ,  3044.2133  ,
        6311.952   ,  6128.79745 ,  3471.4096  ,  4454.40265 ,
       10928.849   , 47055.5321  , 12949.1554  , 20745.9891  ,
       19442.3535  , 42111.6647  ,  3309.7926  , 10564.8845  ,
        5729.0053  ,  1146.7966  ,  8964.06055 , 13880.949   ,
        5708.867   ,  2855.43755 ,  6289.7549  , 25081.76784 ,
        6203.90175 ,  4766.022   , 14001.1338  ,  6686.4313  ,
       24915.04626 ,  7985.815   , 21232.18226 ,  3176.8159  ,
       20781.48892 , 14410.9321  , 30063.58055 , 11931.12525 ,
        6985.50695 ,  2523.1695  , 21344.8467  ,  8083.9198  ,
       21797.0004  , 24671.66334 ,  4779.6023  ,  7256.7231  ,
        9447.25035 , 34806.4677  ,  5488.262   , 12094.478   ,
        5028.1466  , 34303.1672  ,  8538.28845 ,  7421.19455 ,
        7441.501   , 10085.846   ,  2304.0022  ,  7345.7266  ,
        1515.3449  ,  6272.4772  , 19719.6947  , 47291.055   ,
        3877.30425 ,  3201.24515 ,  1615.7667  ,  1704.70015 ,
        7147.4728  ,  2211.13075 , 24671.66334 , 23288.9284  ,
        8891.1395  , 24535.69855 , 46599.1084  , 15612.19335 ,
        6289.7549  , 11566.30055 , 58571.07448 ,  9225.2564  ,
       39983.42595 ,  1137.011   , 37484.4493  ,  4889.9995  ,
       11946.6259  ,  3309.7926  , 39047.285   ,  5012.471   ,
       10072.05505 ,  9225.2564  ,  2719.27975 , 12913.9924  ,
       12224.35085 , 12404.8791  , 12146.971   , 21344.8467  ,
        5488.262   ,  4466.6214  ,  7512.267   , 21880.82    ,
        3292.52985 ,  1705.6245  ,  3077.0955  , 47896.79135 ,
       26140.3603  ,  4149.736   , 12949.1554  , 10928.849   ,
       34838.873   ,  6770.1925  ,  5373.36425 ,  9386.1613  ,
        1639.5631  ,  3481.868   , 32734.1863  , 15817.9857  ,
       13352.0998  ,  2523.1695  ,  2632.992   ,  9447.25035 ,
       10564.8845  , 13747.87235 , 20745.9891  ,  4762.329   ,
       15518.18025 ,  1621.8827  ,  5757.41345 , 12404.8791  ,
        9095.06825 ,  3077.0955  ,  7421.19455 , 44202.6536  ,
        3579.8287  ,  3956.07145 ,  1731.677   , 20878.78443 ,
       19673.33573 , 11931.12525 , 47055.5321  , 18765.87545 ,
        9288.0267  , 41949.2441  , 11987.1682  , 19442.3535  ,
        9288.0267  ,  4466.6214  , 27533.9129  ,  4350.5144  ,
       13415.0381  ,  2221.56445 , 15518.18025 ,  3176.8159  ,
       24667.419   ,  5920.1041  ,  2842.76075 , 38792.6856  ,
        5253.524   ,  5266.3656  , 27533.9129  ,  2203.73595 ,
        7726.854   ,  2639.0429  , 10269.46    ,  3208.787   ,
       11326.71487 ,  5253.524   , 43921.1837  ,  6250.435   ,
       62592.87309 , 37484.4493  ,  5488.262   , 15828.82173 ,
        1252.407   ,  3558.62025 ,  3056.3881  ,  8125.7845  ,
       43813.8661  , 11830.6072  ,  1731.677   , 12124.9924  ,
        2020.5523  , 17929.30337 ,  4438.2634  ,  2416.955   ,
        2897.3235  , 36307.7983  ,  6985.50695 ,  2196.4732  ,
       39774.2763  , 10601.63225 , 40941.2854  , 11931.12525 ,
        4151.0287  ,  2775.19215 ,  1906.35825 , 25333.33284 ,
        4747.0529  ,  2130.6759  , 10959.6947  ,  7281.5056  ,
        5966.8874  ,  3877.30425 , 13126.67745 , 58571.07448 ,
        1526.312   ,  8782.469   ,  7882.429475,  7443.64305 ,
       11090.7178  ,  3766.8838  , 18223.4512  , 10594.2257  ,
       16085.1275  , 14254.6082  ,  1615.7667  ,  6571.02435 ,
       11411.685   ,  7421.19455 ,  5257.50795 ,  1743.214   ,
       34439.8559  , 13143.33665 ,  7443.64305 , 13405.3903  ,
        8671.19125 , 13047.33235 , 47896.79135 ,  3579.8287  ,
        9704.66805 ,  1526.312   , 14007.222   ,  1534.3045  ,
        7133.9025  ,  1634.5734  , 12235.8392  ,  4402.233   ,
       12029.2867  , 41919.097   ,  5272.1758  , 33900.653   ,
       18608.262   , 11566.30055 , 21232.18226 , 42112.2356  ,
       20878.78443 ,  3353.284   ,  9048.0273  , 19798.05455 ,
       39047.285   , 19719.6947  , 10106.13425 , 41661.602   ,
        4661.28635 , 16450.8947  ,  3227.1211  , 34303.1672  ,
       19442.3535  , 11538.421   ])

 STEP:8 EVALUTION METRICS

In [21]:
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)

In [22]:
r_score

0.6936887738415325

DECISION TREE REPRESENTATION MODEL

In [ ]:
from sklearn import tree
tree.plot_tree(r)
plt.show()

 STEP:10 SAVE THE MODEL IF THE MODEL HAS GOOD R_SCORE VALUE

In [ ]:
import pickle
filename='decision_final.sav'
pickle.dump(r,open(filename,"wb"))

In [ ]:
model=pickle.load(open(filename,"rb"))

MY MODEL PRODUCED POOR R2_SCORE VALUE