 STEP1: Importing the Libraies

In [4]:

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

STEP2: Loding the Dataset

In [5]:
dataset = pd.read_csv('http://raw.githubusercontent.com/RamishaRaniK/dataset/main/insurance_pre.csv')

In [6]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

STEP:3 get_dummies() TO CONVERT STRING DATA INTO BYTESTREAM(0'S &1'S)

In [7]:
datasets=pd.get_dummies(dataset,drop_first=True)

In [8]:
datasets

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

STEP:4 ASSINGING INPUT AND OUTPUT DATA

In [9]:
datasets.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [10]:
indep=datasets[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]

dep=datasets[['charges']]

In [11]:
indep

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [12]:
dep

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

STEP: 5 SPLITING TRAIN/TEST DATA

In [13]:
#spliting train /test set
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(indep,dep,test_size=1/3,random_state=0)

 STEP:6  MODEL svm

In [16]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import GridSearchCV
param_grid={'criterion':['mse','mae','friedman_mse'],
            'max_features':['auto','sqrt','log2'],
            'splitter':['best','random']
           }
grid=GridSearchCV(DecisionTreeRegressor(),param_grid,refit=True,verbose=3,n_jobs=-1)
grid.fit(x_train,y_train)

Fitting 5 folds for each of 18 candidates, totalling 90 fits

C:\Users\Yaazh\anaconda3\envs\ai\lib\site-packages\sklearn\tree\_classes.py:370: FutureWarning: Criterion 'mae' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='absolute_error'` which is equivalent.
  FutureWarning,

GridSearchCV(estimator=DecisionTreeRegressor(), n_jobs=-1,
             param_grid={'criterion': ['mse', 'mae', 'friedman_mse'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             verbose=3)

 STEP:8 PREDICTION

In [17]:
y_pred=grid.predict(x_test)

In [18]:
y_pred

array([ 9748.9106  ,  8930.93455 , 44202.6536  , 12574.049   ,
        9264.797   , 21984.47061 ,  1615.7667  , 10560.4917  ,
        7985.815   ,  5253.524   ,  6184.2994  , 10848.1343  ,
        7345.7266  ,  4992.3764  , 35147.52848 , 10600.5483  ,
       12142.5786  ,  3292.52985 ,  6356.2707  , 18648.4217  ,
       21259.37795 , 13430.265   ,  9625.92    , 21774.32215 ,
        1391.5287  ,  4076.497   ,  3161.454   ,  8252.2843  ,
        3757.8448  ,  8520.026   ,  8252.2843  , 48673.5588  ,
       13555.0049  , 20781.48892 , 15006.57945 ,  3554.203   ,
        8733.22925 , 38282.7495  , 37701.8768  ,  1880.07    ,
        5266.3656  ,  2866.091   , 17043.3414  , 44202.6536  ,
       34439.8559  ,  3579.8287  , 10600.5483  ,  6272.4772  ,
        4719.52405 , 12044.342   , 13126.67745 ,  4296.2712  ,
       26109.32905 , 44641.1974  , 12235.8392  , 19673.33573 ,
        2897.3235  ,  8442.667   ,  8891.1395  , 14119.62    ,
        1252.407   , 49577.6624  , 27941.28758 , 25333.33284 ,
       11015.1747  ,  9877.6077  , 18648.4217  , 36189.1017  ,
        3077.0955  , 15828.82173 , 13429.0354  , 11763.0009  ,
       16297.846   , 13887.204   , 12629.8967  , 12638.195   ,
       24603.04837 , 32108.66282 , 19539.243   , 46599.1084  ,
       11658.11505 , 48885.13561 ,  1391.5287  , 28340.18885 ,
       42211.1382  , 20984.0936  ,  3227.1211  ,  2897.3235  ,
       12913.9924  , 36950.2567  ,  6360.9936  , 10796.35025 ,
        2480.9791  ,  8516.829   , 12404.8791  ,  4076.497   ,
       27218.43725 , 23807.2406  ,  5152.134   , 10594.2257  ,
        1826.843   ,  6112.35295 , 20177.67113 , 34617.84065 ,
       40720.55105 ,  3558.62025 , 11165.41765 ,  3172.018   ,
       11743.9341  , 43921.1837  , 12094.478   , 19442.3535  ,
        9447.25035 , 34672.1472  , 48673.5588  ,  7160.094   ,
        1980.07    ,  8442.667   , 12913.9924  ,  8733.22925 ,
       41949.2441  , 10197.7722  , 14901.5167  , 19442.3535  ,
        7624.63    ,  4529.477   , 21348.706   , 21259.37795 ,
       48673.5588  ,  1534.3045  , 32108.66282 ,  1727.54    ,
        5974.3847  ,  8782.469   , 37829.7242  , 19350.3689  ,
       37829.7242  , 10848.1343  , 24873.3849  ,  2775.19215 ,
        1880.07    , 10796.35025 ,  9800.8882  ,  9850.432   ,
       14358.36437 , 14901.5167  , 36910.60803 , 22395.74424 ,
        1628.4709  , 10436.096   ,  5974.3847  , 48673.5588  ,
        9957.7216  ,  1727.54    ,  2719.27975 ,  7077.1894  ,
        2639.0429  , 11272.33139 , 10600.5483  ,  9715.841   ,
        4827.90495 , 13555.0049  , 12629.8967  ,  9386.1613  ,
        3972.9247  , 24671.66334 , 20167.33603 ,  6128.79745 ,
        4239.89265 ,  1634.5734  ,  4438.2634  ,  4438.2634  ,
        7441.501   ,  1981.5819  ,  4827.90495 , 24671.66334 ,
        3847.674   ,  6123.5688  , 24869.8368  ,  1712.227   ,
       11881.6638  ,  6203.90175 , 11353.2276  ,  2497.0383  ,
       11737.84884 , 28868.6639  ,  1391.5287  ,  2710.82855 ,
       14901.5167  , 10156.7832  , 39556.4945  ,  3877.30425 ,
        5478.0368  , 35069.37452 ,  2727.3951  ,  1977.815   ,
        6203.90175 ,  6360.9936  , 19442.3535  ,  4239.89265 ,
       10928.849   , 47055.5321  , 11881.6638  , 18259.216   ,
       18157.876   , 42111.6647  ,  3537.703   ,  9144.565   ,
       24915.04626 ,  1163.4627  ,  8964.06055 , 13844.7972  ,
       18804.7524  , 13126.67745 ,  6272.4772  ,  1977.815   ,
        6548.19505 ,  4779.6023  , 14001.1338  ,  6686.4313  ,
        6360.9936  ,  7985.815   ,  8671.19125 ,  3213.62205 ,
       12231.6136  , 14410.9321  , 13430.265   , 12224.35085 ,
        6985.50695 ,  2523.1695  ,  1135.9407  ,  8823.98575 ,
       21797.0004  ,  4296.2712  ,  4454.40265 ,  7261.741   ,
        9447.25035 , 18648.4217  ,  5488.262   , 11881.6638  ,
        5397.6167  , 44585.45587 ,  8538.28845 ,  6250.435   ,
        8891.1395  , 10085.846   ,  3579.8287  ,  7345.7266  ,
        2585.85065 ,  6272.4772  , 18328.2381  , 47291.055   ,
        3877.30425 ,  3227.1211  , 21344.8467  ,  1704.70015 ,
       28340.18885 ,  2211.13075 , 24671.66334 , 23288.9284  ,
        9101.798   , 24535.69855 , 47055.5321  , 27000.98473 ,
        6272.4772  , 11566.30055 , 43896.3763  ,  8733.22925 ,
       38415.474   ,  1137.011   , 37133.8982  ,  4673.3922  ,
       13607.36875 ,  3537.703   , 39047.285   ,  5012.471   ,
       10072.05505 ,  9101.798   ,  1980.07    , 14119.62    ,
       12224.35085 , 12404.8791  , 12146.971   , 21344.8467  ,
        6373.55735 ,  3481.868   ,  8965.79575 , 21880.82    ,
        3292.52985 ,  1712.227   ,  2304.0022  , 47896.79135 ,
        9617.66245 ,  4350.5144  , 11881.6638  , 35160.13457 ,
       34838.873   ,  7077.1894  ,  4747.0529  ,  8798.593   ,
        1639.5631  ,  3056.3881  , 15006.57945 , 18765.87545 ,
       13844.7972  ,  2523.1695  ,  3392.9768  ,  9704.66805 ,
        9144.565   , 20167.33603 , 20745.9891  ,  6360.9936  ,
       15359.1045  ,  2130.6759  ,  5415.6612  , 12404.8791  ,
       20878.78443 ,  2304.0022  ,  6250.435   , 48885.13561 ,
        3579.8287  ,  3956.07145 ,  1731.677   ,  8671.19125 ,
        3943.5954  , 12029.2867  , 47896.79135 , 12829.4551  ,
        8964.06055 , 41949.2441  , 12629.1656  , 19442.3535  ,
        9957.7216  ,  3481.868   , 27533.9129  ,  4074.4537  ,
       24513.09126 ,  2221.56445 , 18765.87545 ,  3176.8159  ,
       24869.8368  ,  5757.41345 ,  1977.815   , 37133.8982  ,
        5693.4305  ,  5266.3656  , 39725.51805 ,  1639.5631  ,
        8891.1395  ,  2304.0022  , 10977.2063  ,  3392.3652  ,
        4536.259   , 18157.876   , 43921.1837  ,  8671.19125 ,
       39725.51805 , 38282.7495  ,  5488.262   ,  7256.7231  ,
        1252.407   ,  3558.62025 ,  2913.569   ,  8964.06055 ,
       43813.8661  , 10965.446   ,  1731.677   , 12124.9924  ,
        2020.5523  , 17929.30337 , 20277.80751 ,  1984.4533  ,
        2904.088   , 34828.654   ,  6985.50695 ,  2196.4732  ,
       39774.2763  , 11394.06555 , 43813.8661  , 11931.12525 ,
        4076.497   ,  1515.3449  ,  2457.21115 , 10848.1343  ,
        4747.0529  ,  1622.1885  , 10959.6947  ,  7985.815   ,
        5966.8874  ,  3484.331   , 13126.67745 , 38711.      ,
        1526.312   ,  9866.30485 ,  7882.429475,  7443.64305 ,
       10594.2257  ,  3766.8838  , 18259.216   , 20781.48892 ,
       16069.08475 , 13844.7972  ,  1615.7667  ,  5757.41345 ,
       11411.685   ,  7421.19455 ,  4889.9995  ,  2130.6759  ,
       34439.8559  , 13143.33665 ,  6775.961   , 13555.0049  ,
        8551.347   , 13047.33235 , 44423.803   ,  3481.868   ,
        7731.85785 ,  1769.53165 , 14007.222   ,  1534.3045  ,
        7133.9025  ,  1634.5734  , 12235.8392  ,  4402.233   ,
       10965.446   , 41661.602   ,  5272.1758  , 33307.5508  ,
       32734.1863  , 11566.30055 , 17929.30337 , 39722.7462  ,
        8671.19125 ,  2866.091   ,  9048.0273  , 21259.37795 ,
       34617.84065 , 18328.2381  ,  9866.30485 , 40273.6455  ,
        4391.652   , 18328.2381  ,  2632.992   , 34439.8559  ,
        4827.90495 , 11881.6638  ])

 STEP:9 EVALUTION METRICS

In [19]:
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)
print(r_score*100,'%')
print("The r2scorevalue for best parameter{}:".format(grid.best_params_),r_score)

72.83077382616574 %
The r2scorevalue for best parameter{'criterion': 'mae', 'max_features': 'auto', 'splitter': 'random'}: 0.7283077382616574

In [20]:
from sklearn.metrics import mean_absolute_error
accuracy=mean_absolute_error(y_test,y_pred)
print(accuracy*100,'%')

325257.1352098655 %

In [21]:
from sklearn.metrics import mean_squared_error
accuracy=mean_squared_error(y_test,y_pred)
print(accuracy*100,'%')

4356183330.525805 %

In [22]:
from sklearn.metrics import mean_absolute_error
accuracy=mean_absolute_error(y_test, y_pred)
print(accuracy*100,'%')

325257.1352098655 %

In [23]:
from sklearn.metrics import mean_absolute_percentage_error
accuracy=mean_absolute_percentage_error(y_test,y_pred)
print(accuracy*100,'%')

37.520744169572446 %

#Adj r2 = 1-(1-R2)*(n-1)/(n-p-1)

In [ ]:
len(dataset)

In [24]:
adj_r2=1-(1-72.8)*(1338-1)/(1338-5)
print(adj_r2)

73.01545386346586

In [27]:
import pickle
filename='decision_final.sav'
pickle.dump(grid,open(filename,"wb"))

In [28]:
model=pickle.load(open(filename,"rb"))

In [ ]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

In [ ]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])
print("Future_Prediction={}".format(Future_Prediction))