 STEP1: Importing the Libraies

In [3]:
pip install GridSearchCV

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement GridSearchCV (from versions: none)
ERROR: No matching distribution found for GridSearchCV

In [4]:
pip install svm.SVC

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement svm.SVC (from versions: none)
ERROR: No matching distribution found for svm.SVC

In [2]:

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

STEP2: Loding the Dataset

In [3]:
dataset = pd.read_csv('http://raw.githubusercontent.com/RamishaRaniK/dataset/main/insurance_pre.csv')

In [4]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

STEP:3 get_dummies() TO CONVERT STRING DATA INTO BYTESTREAM(0'S &1'S)

In [5]:
datasets=pd.get_dummies(dataset,drop_first=True)

In [6]:
datasets

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

STEP:4 ASSINGING INPUT AND OUTPUT DATA

In [7]:
datasets.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [8]:
indep=datasets[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]

dep=datasets[['charges']]

In [9]:
indep

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [10]:
dep

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

STEP: 5 SPLITING TRAIN/TEST DATA

In [11]:
#spliting train /test set
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(indep,dep,test_size=1/3,random_state=0)

 STEP:6  MODEL svm

In [12]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [21]:
from sklearn.svm import SVR
r=SVR(kernel='linear')
r.fit(x_train,y_train)

C:\Users\Yaazh\anaconda3\envs\ai\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR(kernel='linear')

 STEP:8 PREDICTION

In [14]:
y_pred=r.predict(x_test)

In [15]:
y_pred

array([9551.61973683, 9524.98379083, 9603.97793871, 9586.5384992 ,
       9552.38133185, 9487.88597475, 9452.38228031, 9564.3386789 ,
       9513.5024943 , 9503.55465111, 9518.661035  , 9541.51352001,
       9503.08728568, 9472.96728454, 9595.43619567, 9550.75729215,
       9579.43586064, 9455.83257763, 9493.56011421, 9588.30061703,
       9611.68237444, 9574.7887212 , 9557.44380548, 9610.15246327,
       9463.62440871, 9485.86373079, 9498.98792895, 9524.10851174,
       9462.89782507, 9523.33138589, 9518.03406448, 9602.68273574,
       9589.77762674, 9570.85289956, 9577.06237413, 9456.03498053,
       9541.2718823 , 9599.4973533 , 9603.77682115, 9452.35802866,
       9500.3074808 , 9460.21642652, 9606.7939091 , 9611.66787329,
       9574.41078725, 9463.32017665, 9550.41987427, 9499.83542078,
       9468.58460816, 9569.94813123, 9457.67243143, 9492.05731982,
       9621.52380174, 9597.19216146, 9579.37922307, 9474.44243353,
       9471.99480431, 9543.65490937, 9554.12204954, 9576.62935586,
       9455.24784595, 9603.38529174, 9581.09114213, 9547.41959513,
       9561.44358794, 9558.84555448, 9587.05690508, 9595.96497826,
       9477.31122561, 9541.98518487, 9591.52878299, 9571.19794238,
       9586.24088566, 9596.48845727, 9583.25710335, 9587.8021318 ,
       9527.29182727, 9519.28685837, 9600.83926158, 9614.50778537,
       9574.25260633, 9580.5252114 , 9458.41629773, 9516.36323057,
       9617.16955578, 9602.05835736, 9498.46920244, 9457.95566911,
       9578.03294718, 9597.88482734, 9515.85312343, 9568.19004568,
       9493.96857298, 9519.16557747, 9484.94016045, 9455.76885384,
       9618.12996435, 9617.46926629, 9472.44487226, 9572.80147858,
       9459.70415946, 9483.33527212, 9467.4722796 , 9605.25393033,
       9603.60897971, 9473.43526472, 9564.56826708, 9462.36663478,
       9581.03597884, 9615.16162412, 9557.4052661 , 9524.85321906,
       9530.215707  , 9586.27687026, 9600.32777775, 9507.90827915,
       9465.87364849, 9543.73775708, 9582.38904788, 9536.71634155,
       9603.15421091, 9555.13676713, 9593.91554169, 9517.85816373,
       9507.74216053, 9487.83084525, 9612.32026763, 9605.06461179,
       9601.14827103, 9477.27792627, 9515.92443347, 9462.02651086,
       9478.15007862, 9547.06629602, 9613.10789823, 9605.00568238,
       9606.19934877, 9541.12365169, 9608.69959409, 9448.62712968,
       9448.757343  , 9566.27475115, 9550.59015282, 9565.97313337,
       9469.4310708 , 9599.39055941, 9586.91138923, 9470.81338371,
       9472.32581369, 9556.23022936, 9477.53165945, 9584.05173203,
       9549.11427571, 9452.5259975 , 9480.35852676, 9487.07955435,
       9451.51514324, 9451.90710383, 9550.71553007, 9548.54965597,
       9501.94447857, 9586.37815524, 9585.75405154, 9556.64509873,
       9486.99397898, 9528.59635897, 9574.02760804, 9497.70579244,
       9458.64987751, 9485.34246721, 9475.41096842, 9468.88168939,
       9512.32304799, 9472.63033147, 9498.11359513, 9528.89693589,
       9478.95421498, 9495.23520004, 9604.99694112, 9458.63905543,
       9556.1941497 , 9515.20344427, 9577.76566562, 9466.16459898,
       9488.82618921, 9611.97287032, 9457.47260426, 9443.39578146,
       9601.33881178, 9545.06335509, 9617.55068792, 9459.24780109,
       9471.10662106, 9609.46347255, 9472.10156045, 9457.10862152,
       9490.67306176, 9514.91125304, 9493.54141462, 9457.87842364,
       9565.15164674, 9611.04427453, 9569.99826648, 9592.27091164,
       9474.01098599, 9608.41163841, 9469.72685335, 9558.42845446,
       9494.0784417 , 9511.05631599, 9534.42015108, 9596.62215664,
       9493.62215004, 9452.17728122, 9495.24012933, 9464.28252618,
       9509.9234938 , 9474.39516305, 9575.99734713, 9514.86156818,
       9522.27171498, 9517.47120629, 9535.67798042, 9461.41547439,
       9584.3270883 , 9592.78039522, 9576.91414256, 9578.5248765 ,
       9520.0615061 , 9457.81444715, 9457.17010687, 9538.45685444,
       9587.51303012, 9523.4516189 , 9465.00491154, 9509.44752642,
       9529.53933358, 9593.0039589 , 9481.50975973, 9552.74331107,
       9484.84553871, 9584.89147268, 9519.58856613, 9511.50743646,
       9530.97430194, 9557.31551443, 9468.74985417, 9511.74097661,
       9461.79721218, 9498.01020603, 9593.40178638, 9610.298555  ,
       9469.17293815, 9496.12118653, 9448.14532504, 9467.92921488,
       9522.02629476, 9468.88498071, 9523.50739942, 9457.58417826,
       9535.94261349, 9616.12859363, 9614.39036981, 9590.43267122,
       9495.03632174, 9575.35030676, 9581.58429802, 9536.47150746,
       9588.44901574, 9468.40728979, 9580.85908911, 9490.0898305 ,
       9582.59620906, 9460.15596043, 9610.37977313, 9466.9871357 ,
       9560.78997053, 9555.73675961, 9455.33783111, 9586.70176517,
       9580.63582607, 9489.05390441, 9585.94887959, 9448.25855284,
       9501.95071595, 9500.76510395, 9555.16154947, 9607.42507741,
       9525.28347013, 9460.05672387, 9487.02057783, 9610.94065442,
       9533.68978455, 9455.65779975, 9570.80255436, 9569.90217785,
       9581.6420262 , 9486.94317566, 9471.69941414, 9551.78334432,
       9456.75500545, 9469.82058444, 9576.76166641, 9584.24174168,
       9595.81507663, 9456.85373925, 9443.73077367, 9534.63635444,
       9557.8188328 , 9573.24651607, 9584.55792652, 9523.39632112,
       9575.36552547, 9447.44691461, 9527.87762506, 9483.39579565,
       9531.53954608, 9483.12428259, 9510.96725392, 9597.11691133,
       9469.23172488, 9446.40331882, 9466.45634666, 9539.45156607,
       9467.46010239, 9575.67420815, 9613.30220445, 9593.18484589,
       9538.15600808, 9608.71123654, 9578.64943141, 9474.92244646,
       9546.59729096, 9512.79280024, 9613.61867561, 9453.34116794,
       9582.71732429, 9456.55039709, 9576.73029421, 9468.33673355,
       9601.02072674, 9523.056842  , 9463.34121316, 9575.21474612,
       9496.66463618, 9478.33000698, 9600.41339996, 9456.48139782,
       9528.50028967, 9468.48707263, 9564.19500729, 9476.17333489,
       9521.57780568, 9503.00273954, 9615.7091789 , 9537.44757227,
       9599.4649693 , 9591.04897428, 9481.54417125, 9553.88251104,
       9455.47785758, 9460.69404647, 9460.90266918, 9541.33150837,
       9617.88805727, 9569.5080808 , 9456.61096599, 9577.10174913,
       9461.48190672, 9523.59529775, 9453.6987733 , 9503.95922875,
       9449.63296776, 9584.8838788 , 9517.47759918, 9476.67555585,
       9608.08749398, 9567.4968082 , 9618.17776905, 9572.16025591,
       9470.93024912, 9486.8593727 , 9446.32453028, 9546.94949875,
       9470.23443033, 9450.57146378, 9553.61142455, 9511.82937177,
       9506.02004596, 9458.94445456, 9446.36142887, 9598.46566898,
       9456.6646825 , 9545.32835082, 9475.91266722, 9528.99767745,
       9573.17960021, 9477.67076098, 9576.10867195, 9570.71524454,
       9591.2497046 , 9590.03318881, 9448.80453683, 9492.99030378,
       9568.01719548, 9515.01763712, 9477.70541798, 9447.05506077,
       9577.21835989, 9589.97042737, 9506.47936968, 9587.96717409,
       9535.47798792, 9559.50119552, 9603.50009915, 9505.98335645,
       9533.95036944, 9456.21127467, 9581.39367355, 9471.00096987,
       9508.12540622, 9487.48498545, 9582.21912819, 9499.80602776,
       9563.9858161 , 9610.24769986, 9475.665539  , 9580.64757398,
       9584.69984737, 9575.28189593, 9524.86887157, 9568.55707143,
       9537.11739479, 9457.44320625, 9557.2807344 , 9596.17554616,
       9597.68816836, 9591.8302647 , 9545.53368611, 9617.17588594,
       9495.87614313, 9580.11148481, 9457.26199994, 9578.16489754,
       9503.66349169, 9564.29037074])

 STEP:9 EVALUTION METRICS

In [22]:
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)
print(r_score*100,'%')

-9.37345406747172 %

In [23]:
from sklearn.metrics import mean_absolute_error
accuracy=mean_absolute_error(y_test,y_pred)
print(accuracy*100,'%')

874446.820235697 %

In [24]:
from sklearn.metrics import mean_squared_error
accuracy=mean_squared_error(y_test,y_pred)
print(accuracy*100,'%')

17536414705.45832 %

In [25]:
from sklearn.metrics import mean_absolute_error
accuracy=mean_absolute_error(y_test, y_pred)
print(accuracy*100,'%')

874446.820235697 %

In [26]:
from sklearn.metrics import mean_absolute_percentage_error
accuracy=mean_absolute_percentage_error(y_test,y_pred)
print(accuracy*100,'%')

104.7238585251961 %

#Adj r2 = 1-(1-R2)*(n-1)/(n-p-1)

In [27]:
len(dataset)

1338

In [71]:
adj_r2=1-(1-(-9.799))*(1338-1)/(1338-5)
print(adj_r2)

-9.831405101275319

In [ ]:
import pickle
filename='decision_final.sav'
pickle.dump(r,open(filename,"wb"))

In [ ]:
model=pickle.load(open(filename,"rb"))

In [ ]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

In [ ]:
Future_Prediction=r.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])
print("Future_Prediction={}".format(Future_Prediction))